name: Build and Deploy to Azure with OIDC

on:
  push:
    branches:
      - main

permissions:
  id-token: write 
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build ./louiechungpos.sln --configuration Release --no-restore --verbosity detailed

    - name: Run tests
      run: dotnet test ./louiechungpos.sln --no-build --verbosity normal

    - name: Publish
      run: dotnet publish ./louiechungpos.csproj -c Release -o ./publish --verbosity detailed

    - name: 'Login to Azure'
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: "louiechungposwebapp"
        package: ./publish
